.header {
  background-color: #033;
  border-bottom: thick solid #51d3d9;

  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 3%;
  padding-right: 3%;
}

@media screen and (min-width: 1024px) {
  .header {
    padding-left: 20%;
    padding-right: 20%;
  }
}

.list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  list-style-type: none;
}

.logo {
  height: 1.7em;
  margin-right: 0.5em;
  vertical-align: middle;
}
